.header {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 3rem;
    height: 3.2rem;
    border-bottom: 1px #ccc solid;
 

}

.header-logo {
    color: #1e90ff;
    font-size: 2rem;
    text-align: left;
    margin-left: -200px;
}

.header-text {
    font-size: 1.5rem !important;
    color: #999;
    display: inline-block;
    margin-left: 3rem;

}

.ant-row-flex {
    height: 2.6rem;
}

/* 导航栏样式 */
.ant-menu-item {
    font-size: 1rem !important;
    padding-left: 1rem;
}

.right-button {
    margin-left: 850px;
}

.search {
    position: absolute;
    width: 200px;
    height: 30px;
    top: 10px;
    right: -200px;
}
.login {
    position: absolute;
    height: 30px;
    width: 60px;
    top: 10px;
    right: -280px;
}

